# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.vs
/src/StudentRun.API/.vs
/src/StudentRun.API/StudentRun.API/bin/Debug/net9.0
/src/StudentRun.API/StudentRun.API/obj
/StudentRun/.vs/StudentRun
/StudentRun/StudentRun.Server/obj
/StudentRun/studentrun.client/obj/Debug
/StudentRun/StudentRun.Server/bin/Debug/net9.0
StudentRun/.vs/ProjectEvaluation/studentrun.metadata.v9.bin
StudentRun/.vs/ProjectEvaluation/studentrun.projects.v9.bin
StudentRun/.vs/ProjectEvaluation/studentrun.strings.v9.bin
/StudentRun/StudentRun.Server/bin/Server/net9.0
